/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
#nf-about {
    overflow: hidden;
    width: 500px;
    height: 543px;
    max-height: 543px;
}

#nf-about .dialog-header {
    background-color: #3fae2a;
}

#nf-about-pic {
    height: 60%;
    background: url(../images/hwx-logo.svg) #000000 no-repeat center center;
    top: 20%;
    position: relative;
}

#nf-about-pic-container {
    height: 40%;
    background: #000000;
}

#nf-version {
    font-weight:500;
    font-size: 13px;
    cursor: pointer;
    padding: 0px;
}

#nf-about-content p {
    padding-top: 15px;
    padding-bottom: 9px;
    font-size: 15px;
    line-height: 15px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

#nf-about-content span.link {
    cursor: pointer;
    color: #007ed2;
    font-weight:900;
}

#nf-about-description {
    margin-left: 68px;
    white-space: normal !important;
}

#nf-about-description-container {
    position: relative;
}

#nf-about-nifi-drop {
    position: absolute;
    top: 15px;
    left: 0px;
    width: 48px;
}

#nf-about-hdf-icon {
    position: absolute;
    top: 65px;
    left: 20px;
    width: 48px;
    z-index: 1;
}

#nf-about-hdf-version-number {
    position: absolute;
    top: 85px;
    left: 77px;
    z-index: 1;
    color: #fff;
    font-size: 13px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    right: 5px;
}

#nf-version-detail {
    display: none;
}

#nf-version-detail-tag {
    display: none;
}

#nf-version-detail-commit {
    display: none;
}

#nf-about-content #nf-version-detail p {
    font-size: 12px;
    padding: 0;
}
